
<div class="mb-20" flFlex flexLayout="row" flexLayout.lt-md="column">
    <div fxFlex>
     <!--   <div style="width: 800px; ">
            <form [formGroup]="formFiltros" style="display: flex; flex-direction: row">
                <mat-select placeholder="Filtrar por..." formControlName="filtro" (selectionChange)="valor=this.formFiltros.controls.filtro.value">
                    <mat-option value="1">Fecha</mat-option>
                    <mat-option value="2">Ingresos</mat-option>
                    <mat-option value="3">Egresos</mat-option>
                    <mat-option value="4">tipo</mat-option>
                    <mat-option value="5">mes</mat-option>
                </mat-select>
                <div *ngIf="valor==1" style="display: flex; flex-direction: row">
                    <mat-form-field class="mat-form-field" style="margin-right: 20px">
                        <mat-label>desde</mat-label>
                        <input matInput [matDatepicker]="desde" formControlName="desde">
                        <mat-datepicker-toggle matSuffix [for]="desde" ></mat-datepicker-toggle>
                        <mat-datepicker #desde></mat-datepicker>
                    </mat-form-field>
                    <mat-form-field class="mat-form-field" style="margin-right: 20px" >
                        <mat-label>hasta</mat-label>
                        <input matInput [matDatepicker]="hasta" formControlName="hasta">
                        <mat-datepicker-toggle matSuffix [for]="hasta" ></mat-datepicker-toggle>
                        <mat-datepicker #hasta></mat-datepicker>
                    </mat-form-field>
                </div>
                <div *ngIf="valor==3" style="display: flex; flex-direction: row">

                </div>
            </form>
        </div> -->

    <button mat-raised-button color="primary" style="position: relative; margin: 20px" (click)="openForm(0)" >Crear Registro Diario</button>
    <table mat-table [dataSource]="listRegisto" class="mat-elevation-z8" style="width: 80%">
        <ng-container matColumnDef="fecha"  >
            <th mat-header-cell *matHeaderCellDef >fecha</th>
            <td mat-cell *matCellDef="let registro">
                {{registro.fecha | date: "dd/MM/yyyy"}}
            </td>
        </ng-container>
        <ng-container matColumnDef="tipo"  >
            <th mat-header-cell *matHeaderCellDef >tipo</th>
            <td mat-cell *matCellDef="let registro">
                {{registro.cuenta.nombre}}
            </td>
        </ng-container>
        <ng-container matColumnDef="cliente"  >
            <th mat-header-cell *matHeaderCellDef >concepto</th>
            <td mat-cell *matCellDef="let registro">
                {{registro.concepto}}
            </td>
        </ng-container>
        <ng-container matColumnDef="ingreso"  >
            <th mat-header-cell *matHeaderCellDef >Ingresos</th>
            <td mat-cell *matCellDef="let registro">
                {{registro.tipo==1 ? registro.monto : "--"}}
            </td>
        </ng-container>
        <ng-container matColumnDef="egreso"  >
            <th mat-header-cell *matHeaderCellDef >Egresos</th>
            <td mat-cell *matCellDef="let registro">
                {{registro.tipo==2 ? registro.monto : "--"}}
            </td>
        </ng-container>
        <ng-container matColumnDef="total"  >
            <th mat-header-cell *matHeaderCellDef >Total</th>
            <td mat-cell *matCellDef="let registro">
                {{registro.total}}
            </td>
        </ng-container>
        <ng-container matColumnDef="observaciones"  >
            <th mat-header-cell *matHeaderCellDef >Observaciones</th>
            <td mat-cell *matCellDef="let registro">
                {{registro.observaciones}}
            </td>
        </ng-container>
        <ng-container matColumnDef="editar"  >
            <th mat-header-cell *matHeaderCellDef >Editar</th>
            <td mat-cell *matCellDef="let registro">
               <button mat-raised-button color="accent" (click)="openForm(registro.id)">editar</button>
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="columnasregistro"></tr>
        <tr mat-row *matRowDef="let row; columns: columnasregistro;"></tr>
    </table>
    </div>
</div>
