input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] { -moz-appearance:textfield; }

.item-list {
    cursor: pointer;
    transition: all 0.4s;
    &:hover {
        background-color: rgba(0, 0, 0, 0.1)
    }
}
